.content {
  .main-section {
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6 {
      margin-top: 1.77rem;
    }
    &>h1 {
      font-size: 22pt;
      font-weight: 400;
    }
    &>h2 {
      font-size: 17pt;
      font-weight: 500;
    }
    &>h3 {
      font-size: 15pt;
    }
    &>h4 {
      font-size: 13pt;
    }

    &>ul {
      @apply list-disc pl-5
    }
  }

  code {
    font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .component-preview {
    @apply bg-blue-600 bg-opacity-5 px-4 py-4 mx-0 flex items-center overflow-x-auto sm:(p-8);
    gap: 1rem;
    border-radius: 0.33rem;
    border: 1px solid theme("colors.slate.200");
    resize: both;
  }

  .astro-code {
    @apply mx-0 p-4;
    border-radius: 0.44rem;
  }
}

table {
  @apply table-auto text-left border bg-white shadow-md;

  tr {
    @apply border;
  }

  td, th {
    @apply px-4 py-2;
  }

  thead {
    @apply bg-gray-100;
  }
}
