---
// variants/Default.astro
interface Props {
  title?: string;
  slim?: boolean;
  hasIntroContent: boolean;
  hasSubtitleContent: boolean;
  hasCtaContent: boolean;
}

const { title = '', slim = false, hasIntroContent, hasSubtitleContent, hasCtaContent } = Astro.props;
---

<header
  class:list={[
    'flow content-grid', // globalne klasy
    'jumbotron-header-base bg-vw', // klasy bazowe i tło
    slim ? 'jumbotron-container-small' : 'jumbotron-container-large', // wariant rozmiaru
  ]}
>
  {hasIntroContent ? <slot name="intro" /> : <h1 class="jumbotron-title-default" set:html={title} />}

  {hasSubtitleContent && <slot name="subtitle" />}

  {
    hasCtaContent && (
      <div class="jumbotron-cta-wrapper">
        <slot name="cta-content" />
      </div>
    )
  }
</header>
