---
const { imgSrc, imgAlt, href } = Astro.props;

import Image from '../components/Image.astro';
---

<div class="bg-white border border-gray-200 rounded-lg shadow overflow-hidden">
  <a href={href} class="aspect-ratio-video block relative">
    {
      imgSrc && (
        <Image
          imageObject={{
            src: imgSrc,
            alt: imgAlt,
            height: '405',
            width: '720',
          }}
        />
      )
    }
  </a>
  <div class="p-5">
    <slot />
  </div>
</div>
