---
const { categories } = Astro.props;
---

<div class="text-light-blue-400 uppercase text-base z-3 relative w-full">
  {
    categories
      ? categories.map((category) => (
          <a
            class="term-link text-sm sm:text-base not-first:(before:content-empty) before:(w-px h-2.5 bg-gray-300 mx-2.5 inline-block relative)"
            href={category.uri}
          >
            {category.name}
          </a>
        ))
      : null
  }
</div>
