---
const {id, open} = Astro.props;
import Button from '../components/Button.vue'
---
<style lang="scss">
dialog {
  @apply fixed top-0 left-0 right-0 bottom-0;
  // position: fixed;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  &::backdrop {
    @apply bg-gray-500/50 fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

  }
}
</style>

<Button primary onclick={`window.${id}.showModal()`}>{open}</Button>

<dialog id={id} class="p-6">
  <slot name="main" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>