---
import TableOfContents from './TableOfContents.astro';
const { content } = Astro.props;
const headers = content.astro?.headers || [];
---

<nav aria-labelledby="grid-right">
	<div class="px-8">
		<TableOfContents headers={headers} />
		<pre>{JSON.stringify(content)}</pre>
	</div>
</nav>


<!-- {"title":"Introduction","description":"Docs intro","file":"C:/www/2024/elements/src/pages/core/introduction.mdx","url":"/core/introduction"} -->
