---
import MainLayout from '../../layouts/MainLayout.astro'
import { typography } from '../../../uno-config/theme/typography'

const fonts = Object.entries(typography.fontFamily)
---

<MainLayout>
    <h1>Fonts Preview</h1>
    <div class="flex flex-wrap gap-16">
        {fonts.map(([name, family]) => (
            <div class="w-full">
                <div class={`font-${name} text-3xl`}>Lorem Ipsum</div>
                <div class="text-slate-500">{name}</div>
                <code class="text-sm">{family.join(', ')}</code>
            </div>
        ))}
    </div>

    <pre class="astro-code bg-slate-800 text-white p-4 mt-8">
        {fonts.map(([name, family]) => (
            <div class="my-5">
                font-{name}:<br/>
                {family.join(', ')}
            </div>
        ))}
    </pre>
</MainLayout>
