@font-face {
    font-family: 'vw_textregular';
    src: url('/fonts/vwtext-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vw_textbold';
    src: url('/fonts/vwtext-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

.font-vw-textbold {
    font-family: 'vw_textbold';
    font-display: fallback;
}

@font-face {
    font-family: 'vw_headbold';
    src: url('/fonts/vwhead-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

.font-vw-headbold {
    font-family: 'vw_headbold' !important;
    font-display: fallback;
}

@font-face {
    font-family: 'vw_headregular';
    src: url('/fonts/vwhead-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

// .font-headregular {
//     font-family: 'vw_headregular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
//     font-display: fallback;
// }

@font-face {
    font-family: 'vw_headlight';
    src: url('/fonts/vwhead-light-webfont.woff2') format('woff2'),;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// .font-headlight {
//     font-family: 'vw_headlight';
// }

@font-face {
    font-family: 'Nova Mono';
    src: url('/fonts/nova-mono-v13-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap; //fallback;
}

// .font-mono {
//     font-family: 'Nova Mono';
// }

@font-face {
    font-family: 'vw_textlight';
    src: url('/fonts/vwtext-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'swiper-icons';
//     src: url('/fonts/swiper-icons.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// .font-textlight {
//     font-family: 'vw_textlight';
// }

// @font-face {
//     font-family: 'vw-headline-ltab';
//     src: url('/fonts/VWHeadline-LtTab.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// .font-vw-headline-ltab {
//     font-family: 'vw-headline-ltab';
// }

// @font-face {
//     font-family: 'futura-book';
//     src: url('/fonts/Futura-Book.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// .font-futura-book {
//     font-family: 'futura-book';
// }

// @font-face {
//     font-family: 'futura-pt-light';
//     src: url('/fonts/futura-pt-light.woff2') format('woff2');
//     // src: url('/fonts/Futura-Book.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// .font-futura-pt-light {
//     font-family: 'futura-pt-light';
// }


// @font-face {
//     font-family: 'futura-pt-medium';
//     src: url('/fonts/futura-pt-medium.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// .font-futura-pt-medium {
//     font-family: 'futura-pt-medium';
// }


// src: url('/fonts/Futura-Book-BT.woff') format('woff');
// src: url('/fonts/futura-bk-bt-book_18979-webfont.woff2') format('woff2');

[data-text]:before {
    content: attr(data-text);
}